@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: white;
  }
}
